.hero {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1500417148159-68083bd7333a);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}